<html>
    <body>
        <form method="POST" action="/new">
            <h1>New Message</h1>
            <label for="name">Author Name:</label>
            <input type="text" id="name" name="authorName" required />
            <label for="text">Message:</label>
            <input type="text" id="text" name="messageText" required />
            <input type="submit" />
        </form>
    </body>
</html>
