<html>
    <body>
        <h1><%= title %></h1>
        <%= message.user %>:&nbsp;<%=message.text%> &nbsp;-&nbsp; <%= format(new
        Date(message.added), "MM/dd/yyyy HH:mm") %>
    </body>
</html>
