<html>
    <body>
        <h1><%= title %></h1>
        <%= message.username %>:&nbsp;<%=message.message%> &nbsp;-&nbsp; <%=
        format(new Date(message.date_added), "MM/dd/yyyy HH:mm") %>
    </body>
</html>
